doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet' href='/css/register.css') 
        title Sign Up 
        

    body
        .container-fluid
            if errors
                for error in errors
                    .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                        div=error.msg
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
            if(flashMessages)
                if(flashMessages.success)
                    .alert.alert-success.alert-dismissible.fade.show
                        div= flashMessages.success
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
                else if(flashMessages.error)
                    .alert.alert-danger.alert-dismissible.fade.show
                        div=flashMessages.error
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;   

            .upper
                img.p-0(src='/images/logo_final.png' class="logo")
                .p-4
                    h1 Sign Up
            .lower.mt-5
                form(action="/users/register", method="post", enctype="multipart/form-data")
                    .p-3.m-2
                        h2.mb-5.req User Details  
                            sup.req *
                        .form-group
                            input.btn.btn-info.mt-4(type="text" name="name" placeholder="Full Name" maxlength="22" required oninvalid="this.setCustomValidity('Enter your Name')")
                            br
                        .form-group
                            input.btn.btn-info.my-3#username(type="text" name="username" placeholder="Username" maxlength="22" required oninvalid="this.setCustomValidity('Enter a Username (min 5 characters)')" pattern=".{5,}")
                            br
                            p#hintUsername
                        .form-group
                            input.btn.btn-info(type="email" name="email" placeholder="Email Address" required
                            oninvalid="this.setCustomValidity('Enter a valid Email Address')")
                            br
                    .p-3.m-2
                        h2.req Password <br> Details 
                            sup.req *
                        .form-group
                            input.btn.btn-info.mt-4#password(type="password" name="password" placeholder="Enter your password" minlength="8" maxlength="25" required oninvalid="this.setCustomValidity('Please Enter a Password)")
                            p.password (minimum 8 characters)
                        .form-group
                            input.btn.btn-info#confirm_password(type="password" name="password2" placeholder="Confirm your password" maxlength="25" required oninvalid="this.setCustomValidity('Confirm your password')" disabled)
                            br
                            p#hint
                            p#hint2
                    .p-3.m-2
                        h2.req Personal <br> Details 
                            sup.req *
                        .form-group
                            input.btn.btn-info.mt-4#datefield(type="text" name="dateOfBirth" onfocus="(this.type='date')" placeholder="Date of Birth" required oninvalid="this.setCustomValidity('Please Enter your Date of Birth')")
                            br
                        .form-group
                            select.btn.btn-info.form-control.my-3(name="gender" required
                            oninvalid="this.setCustomValidity('Please Mention your Gender')")
                                option(disabled selected value) Gender
                                option(name='Male' value='Male') Male
                                option(name='Female' value='Female') Female
                                option(name='Others' value='Others') Others
                        .form-group
                            select.btn.btn-info.form-control(name='country' required 
                            oninvalid="this.setCustomValidity('Please Mention your Country of Residence')")
                                option(disabled selected value) Country
                                option(value='Afganistan') Afghanistan
                                option(value='Albania') Albania
                                option(value='Algeria') Algeria
                                option(value='American Samoa') American Samoa
                                option(value='Andorra') Andorra
                                option(value='Angola') Angola
                                option(value='Anguilla') Anguilla
                                option(value='Antigua & Barbuda') Antigua &amp; Barbuda
                                option(value='Argentina') Argentina
                                option(value='Armenia') Armenia
                                option(value='Aruba') Aruba
                                option(value='Australia') Australia
                                option(value='Austria') Austria
                                option(value='Azerbaijan') Azerbaijan
                                option(value='Bahamas') Bahamas
                                option(value='Bahrain') Bahrain
                                option(value='Bangladesh') Bangladesh
                                option(value='Barbados') Barbados
                                option(value='Belarus') Belarus
                                option(value='Belgium') Belgium
                                option(value='Belize') Belize
                                option(value='Benin') Benin
                                option(value='Bermuda') Bermuda
                                option(value='Bhutan') Bhutan
                                option(value='Bolivia') Bolivia
                                option(value='Bonaire') Bonaire
                                option(value='Bosnia & Herzegovina') Bosnia &amp; Herzegovina
                                option(value='Botswana') Botswana
                                option(value='Brazil') Brazil
                                option(value='British Indian Ocean Ter') British Indian Ocean Ter
                                option(value='Brunei') Brunei
                                option(value='Bulgaria') Bulgaria
                                option(value='Burkina Faso') Burkina Faso
                                option(value='Burundi') Burundi
                                option(value='Cambodia') Cambodia
                                option(value='Cameroon') Cameroon
                                option(value='Canada') Canada
                                option(value='Canary Islands') Canary Islands
                                option(value='Cape Verde') Cape Verde
                                option(value='Cayman Islands') Cayman Islands
                                option(value='Central African Republic') Central African Republic
                                option(value='Chad') Chad
                                option(value='Channel Islands') Channel Islands
                                option(value='Chile') Chile
                                option(value='China') China
                                option(value='Christmas Island') Christmas Island
                                option(value='Cocos Island') Cocos Island
                                option(value='Colombia') Colombia
                                option(value='Comoros') Comoros
                                option(value='Congo') Congo
                                option(value='Cook Islands') Cook Islands
                                option(value='Costa Rica') Costa Rica
                                option(value='Cote DIvoire') Cote DIvoire
                                option(value='Croatia') Croatia
                                option(value='Cuba') Cuba
                                option(value='Curaco') Curacao
                                option(value='Cyprus') Cyprus
                                option(value='Czech Republic') Czech Republic
                                option(value='Denmark') Denmark
                                option(value='Djibouti') Djibouti
                                option(value='Dominica') Dominica
                                option(value='Dominican Republic') Dominican Republic
                                option(value='East Timor') East Timor
                                option(value='Ecuador') Ecuador
                                option(value='Egypt') Egypt
                                option(value='El Salvador') El Salvador
                                option(value='Equatorial Guinea') Equatorial Guinea
                                option(value='Eritrea') Eritrea
                                option(value='Estonia') Estonia
                                option(value='Ethiopia') Ethiopia
                                option(value='Falkland Islands') Falkland Islands
                                option(value='Faroe Islands') Faroe Islands
                                option(value='Fiji') Fiji
                                option(value='Finland') Finland
                                option(value='France') France
                                option(value='French Guiana') French Guiana
                                option(value='French Polynesia') French Polynesia
                                option(value='French Southern Ter') French Southern Ter
                                option(value='Gabon') Gabon
                                option(value='Gambia') Gambia
                                option(value='Georgia') Georgia
                                option(value='Germany') Germany
                                option(value='Ghana') Ghana
                                option(value='Gibraltar') Gibraltar
                                option(value='Great Britain') Great Britain
                                option(value='Greece') Greece
                                option(value='Greenland') Greenland
                                option(value='Grenada') Grenada
                                option(value='Guadeloupe') Guadeloupe
                                option(value='Guam') Guam
                                option(value='Guatemala') Guatemala
                                option(value='Guinea') Guinea
                                option(value='Guyana') Guyana
                                option(value='Haiti') Haiti
                                option(value='Hawaii') Hawaii
                                option(value='Honduras') Honduras
                                option(value='Hong Kong') Hong Kong
                                option(value='Hungary') Hungary
                                option(value='Iceland') Iceland
                                option(value='Indonesia') Indonesia
                                option(value='India') India
                                option(value='Iran') Iran
                                option(value='Iraq') Iraq
                                option(value='Ireland') Ireland
                                option(value='Isle of Man') Isle of Man
                                option(value='Israel') Israel
                                option(value='Italy') Italy
                                option(value='Jamaica') Jamaica
                                option(value='Japan') Japan
                                option(value='Jordan') Jordan
                                option(value='Kazakhstan') Kazakhstan
                                option(value='Kenya') Kenya
                                option(value='Kiribati') Kiribati
                                option(value='Korea North') Korea North
                                option(value='Korea Sout') Korea South
                                option(value='Kuwait') Kuwait
                                option(value='Kyrgyzstan') Kyrgyzstan
                                option(value='Laos') Laos
                                option(value='Latvia') Latvia
                                option(value='Lebanon') Lebanon
                                option(value='Lesotho') Lesotho
                                option(value='Liberia') Liberia
                                option(value='Libya') Libya
                                option(value='Liechtenstein') Liechtenstein
                                option(value='Lithuania') Lithuania
                                option(value='Luxembourg') Luxembourg
                                option(value='Macau') Macau
                                option(value='Macedonia') Macedonia
                                option(value='Madagascar') Madagascar
                                option(value='Malaysia') Malaysia
                                option(value='Malawi') Malawi
                                option(value='Maldives') Maldives
                                option(value='Mali') Mali
                                option(value='Malta') Malta
                                option(value='Marshall Islands') Marshall Islands
                                option(value='Martinique') Martinique
                                option(value='Mauritania') Mauritania
                                option(value='Mauritius') Mauritius
                                option(value='Mayotte') Mayotte
                                option(value='Mexico') Mexico
                                option(value='Midway Islands') Midway Islands
                                option(value='Moldova') Moldova
                                option(value='Monaco') Monaco
                                option(value='Mongolia') Mongolia
                                option(value='Montserrat') Montserrat
                                option(value='Morocco') Morocco
                                option(value='Mozambique') Mozambique
                                option(value='Myanmar') Myanmar
                                option(value='Nambia') Nambia
                                option(value='Nauru') Nauru
                                option(value='Nepal') Nepal
                                option(value='Netherland Antilles') Netherland Antilles
                                option(value='Netherlands') Netherlands (Holland, Europe)
                                option(value='Nevis') Nevis
                                option(value='New Caledonia') New Caledonia
                                option(value='New Zealand') New Zealand
                                option(value='Nicaragua') Nicaragua
                                option(value='Niger') Niger
                                option(value='Nigeria') Nigeria
                                option(value='Niue') Niue
                                option(value='Norfolk Island') Norfolk Island
                                option(value='Norway') Norway
                                option(value='Oman') Oman
                                option(value='Pakistan') Pakistan
                                option(value='Palau Island') Palau Island
                                option(value='Palestine') Palestine
                                option(value='Panama') Panama
                                option(value='Papua New Guinea') Papua New Guinea
                                option(value='Paraguay') Paraguay
                                option(value='Peru') Peru
                                option(value='Phillipines') Philippines
                                option(value='Pitcairn Island') Pitcairn Island
                                option(value='Poland') Poland
                                option(value='Portugal') Portugal
                                option(value='Puerto Rico') Puerto Rico
                                option(value='Qatar') Qatar
                                option(value='Republic of Montenegro') Republic of Montenegro
                                option(value='Republic of Serbia') Republic of Serbia
                                option(value='Reunion') Reunion
                                option(value='Romania') Romania
                                option(value='Russia') Russia
                                option(value='Rwanda') Rwanda
                                option(value='St Barthelemy') St Barthelemy
                                option(value='St Eustatius') St Eustatius
                                option(value='St Helena') St Helena
                                option(value='St Kitts-Nevis') St Kitts-Nevis
                                option(value='St Lucia') St Lucia
                                option(value='St Maarten') St Maarten
                                option(value='St Pierre & Miquelon') St Pierre &amp; Miquelon
                                option(value='St Vincent & Grenadines') St Vincent &amp; Grenadines
                                option(value='Saipan') Saipan
                                option(value='Samoa') Samoa
                                option(value='Samoa American') Samoa American
                                option(value='San Marino') San Marino
                                option(value='Sao Tome & Principe') Sao Tome &amp; Principe
                                option(value='Saudi Arabia') Saudi Arabia
                                option(value='Senegal') Senegal
                                option(value='Seychelles') Seychelles
                                option(value='Sierra Leone') Sierra Leone
                                option(value='Singapore') Singapore
                                option(value='Slovakia') Slovakia
                                option(value='Slovenia') Slovenia
                                option(value='Solomon Islands') Solomon Islands
                                option(value='Somalia') Somalia
                                option(value='South Africa') South Africa
                                option(value='Spain') Spain
                                option(value='Sri Lanka') Sri Lanka
                                option(value='Sudan') Sudan
                                option(value='Suriname') Suriname
                                option(value='Swaziland') Swaziland
                                option(value='Sweden') Sweden
                                option(value='Switzerland') Switzerland
                                option(value='Syria') Syria
                                option(value='Tahiti') Tahiti
                                option(value='Taiwan') Taiwan
                                option(value='Tajikistan') Tajikistan
                                option(value='Tanzania') Tanzania
                                option(value='Thailand') Thailand
                                option(value='Togo') Togo
                                option(value='Tokelau') Tokelau
                                option(value='Tonga') Tonga
                                option(value='Trinidad & Tobago') Trinidad &amp; Tobago
                                option(value='Tunisia') Tunisia
                                option(value='Turkey') Turkey
                                option(value='Turkmenistan') Turkmenistan
                                option(value='Turks & Caicos Is') Turks &amp; Caicos Is
                                option(value='Tuvalu') Tuvalu
                                option(value='Uganda') Uganda
                                option(value='United Kingdom') United Kingdom
                                option(value='Ukraine') Ukraine
                                option(value='United Arab Erimates') United Arab Emirates
                                option(value='United States of America') United States of America
                                option(value='Uraguay') Uruguay
                                option(value='Uzbekistan') Uzbekistan
                                option(value='Vanuatu') Vanuatu
                                option(value='Vatican City State') Vatican City State
                                option(value='Venezuela') Venezuela
                                option(value='Vietnam') Vietnam
                                option(value='Virgin Islands (Brit)') Virgin Islands (Brit)
                                option(value='Virgin Islands (USA)') Virgin Islands (USA)
                                option(value='Wake Island') Wake Island
                                option(value='Wallis & Futana Is') Wallis &amp; Futana Is
                                option(value='Yemen') Yemen
                                option(value='Zaire') Zaire
                                option(value='Zambia') Zambia
                                option(value='Zimbabwe') Zimbabwe
                            br
                    .p-3.m-2
                        h2.mb-5 Bio
                        .form-group
                            input.btn.btn-info.mt-4(type="text" name="about" rows='5' placeholder="About yourself")
                            br
                        .form-group
                            .inner_group
                                input.btn.btn-info.shorter_input(type="url" name="website" placeholder="Website URL" oninvalid="this.setCustomValidity('Please Enter a Valid URL')")
                                i(class="fa fa-info-circle" style="font-size:25px; color:white"  title="Copy & Paste your Website URL, simply typing it may not work." onclick ="alert('Copy & Paste your Website URL, simply typing it may not work.');")
                                br
                        .form-group
                            input.btn.btn-info(type="text" placeholder="Profile Picture" onfocus="(this.type='file')" name="avatar"
                            accept='.png, .jpeg, .JPG, .JPEG, .PNG')
                            br
                        button.btn.btn-success(type='submit') Submit

                script(type="text/javascript" src="/js/register.js")

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")    
            
