extends layout2.pug

block extra
    link(rel='stylesheet' href='/css/user.css')
    title= user.name + '- Comicast'
    
block content
        .upper
            .card
                .card-image
                    img.image(src= "/avatar_uploads/" + user.avatar)
                .card-body
                    .card-title= user.username
                    .card-text
                        h1= user.username
                        p= user.name 
                        if(user.about)
                            p= user.about
                        if(user.website)
                            a(href=user.website)
                        a(href='/edit-profile/' + user.username) Edit Profile
                
                

